﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="pruebaImagen.aspx.cs" Inherits="appProyecto2.pruebaImagen" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <p>
            <asp:FileUpload ID="FileUpload1" runat="server" />
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
            <asp:Button ID="Button2" runat="server" Text="Mostrar Imagen" OnClick="Button2_Click" />
        </p>
        <asp:Literal ID="Literal1" runat="server"></asp:Literal>
        
        <asp:Image ID="Image1" runat="server" Height="500px" Width="500px" />
        
    </form>
</body>
</html>
